html, body, #root {
    height: 100%;
}

body {
    font-family: sans-serif;
    color: #666;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}
#root > div.graph {
    flex: 1;
    overflow: auto;
    position: relative;
}

.toolbar {
    flex-grow: 0;
    padding: 10px 20px;
    background: beige;
    display: flex;
    justify-content: space-between;
}
.toolbar * {
    vertical-align: text-bottom;
}

button {
    border: none;
    background: linear-gradient(to bottom, #abb8db, #8f9fc9);
    border-radius: 3px;
    padding: 3px 7px;
    color: #fff;
    outline: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
button:active {
    background: #6a7db0;
}
button.action {
    background: linear-gradient(to bottom, #ee9564, #de7d48);
}
button.action:active {
    background: #d67540;
}
button.action:disabled {
    background: #c1c1c1;
}

#root > div > svg {
    position: absolute;
    user-select: none;
}


.node.selected .nodeBorder, .edge.selected path, .edge.selected rect {
    stroke: #29c229;
}

.nodeShadow {
    fill: none;
    stroke-width: 4px;
    stroke: rgba(0, 0, 0, 0.13);
}

g.node {
    user-select: none;
    cursor: default;
}

g.node text {
    pointer-events: none;
}

.icon {
    fill: #aaa;
    stroke: #fff;
}
#icon-cube {
    fill: #ee974b;
}

rect.elastic {
    pointer-events: none;
    stroke: none;
    fill: #3bd8281f;
    display: none;
}
rect.elastic.on {
    display: block;
}

.github-source {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    border: solid 1px #ccc;
    padding: 3px 8px;
    font-size: 13px;
    background: #fff;
}
.github-source a {
    color: inherit;
    text-decoration: none;
}