name: CI
on: [push, pull_request]
jobs:
  Linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.17
      uses: actions/setup-go@v3
      with:
        go-version: 1.17
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3    

    - name: Build
      run: make ci

  Windows:
    name: Windows
    runs-on: windows-latest
    steps:

    - name: Set up Go 1.17
      uses: actions/setup-go@v3
      with:
        go-version: 1.17
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3    

    - name: Build
      run: make ci
