name: CI
on: [push, pull_request]
jobs:
  Linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:

    - name: Collect Workflow Telemetry
      uses: runforesight/foresight-workflow-kit-action@v1
      if: success() || failure()

    - name: Set up Go 1.19
      uses: actions/setup-go@v4
      with:
        go-version: 1.19
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3    

    - name: Build
      run: make ci

    - name: Compute code coverage
      run: go test -v -json -coverprofile=coverage.out ./...> ./test-report.json || true 

    - name: Analyze Test and/or Coverage Results
      uses: runforesight/foresight-test-kit-action@v1
      if: success() || failure()
      with:
        test_format: JSON
        test_framework: GOLANG
        test_path: "./test-report.json"
        coverage_format: GOLANG
        coverage_path: ./coverage.out

  Windows:
    name: Windows
    runs-on: windows-latest
    steps:

    - name: Set up Go 1.19
      uses: actions/setup-go@v4
      with:
        go-version: 1.19
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3    

    - name: Build
      run: make ci
